# In requirements.txt
python-dotenv
numpy
openai
pandas
requests
supabase
fastapi
uvicorn[standard]
pydantic
python-multipart
httpx
email-validator
jinja2
python-jose[cryptography]
passlib[bcrypt]
psycopg2-binary
asyncpg
postgrest
gotrue
realtime
storage3
streamlit
ipykernel
crewai
pytest
transformers
torch
tensorflow
scikit-learn
google-generativeai
crewai-tools
langchain
langchain-community
langchain-google-genai
altair
pysqlite3-binary>=0.4.7; sys_platform != "win32"
chromadb